.who-is-my-santa {
  .elf-img-background {
    position: absolute;
    bottom: 45px;
    right: 0;
    width: 100vw;
    height: 280px;
    background-position: bottom right;
    background-image: url("~@/assets/img/Christmas elfs-pana.svg");
  }
}
